html{
    background-color: gray;
    height: 100% ;
    background-image: linear-gradient(45deg,orange,rgb(178, 178, 243),rgb(209, 123, 123),rgb(139, 139, 238),orange);
}
#container{
    height: 300px;
    background-color: aliceblue;
    margin: 100px 400px;
    border: 5px solid lightcoral;
    border-radius: 15px;
    padding: 15px;
   

}
.first-line{
    margin-left: 23%;
    padding: 5px;
    
}
#table{
    margin-top: 25px;
    margin-left:23%
}
#scrolling-text{
    margin-top: 20px;
    color: white
}